@font-face {
    font-family: "shabnam";
    src: url("../fonts/Shabnam-FD.woff2") format("woff2");
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "shabnam", sans-serif;
    background-color: #757575;
}
.container{
    width: 1216px;
    margin: 56px auto;
    justify-content: space-between;
}
.section-head{
    display: flex; 
    justify-content: space-between;  
    margin-bottom: 24px;;   
    background-color: #FFFF00;  
    border-radius: 12px;  
    height: 40px;
    align-items: center;
}
.section__title{
    display: flex;
    align-items: center;
    gap: 6px;
}
.section__title-icon{
    width: 22px;
    height: 22px;
    color: #1E88E5;
    margin-right: 6px;
}
.section__link{
    color: #1E88E5;
    text-decoration: none;
    margin-left: 14px;
    align-items: center;
    font-size: 18px;
}

.row{
    display: flex;
    gap: 24px;

}
.product{
    width: 100%;
    box-shadow: 0 4px 8px  rgba(0, 0, 0, 0.08);
    padding: 24px;
    background-color: #fff;
    border-radius: 12px;
}
.product__image{
    width: 100%;
}
.product__name{
    font-size: 14px;
    font-weight: normal;
    margin-top: 14px;
    line-height: 1.6;
    height: 68px;
}
.product__link{
    text-decoration: none;
    color: #212121; 
}
.product__offer{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    margin-top: 12px;
}
.product__offer-percent{
    background-color: #E3F2FD;
    color: #1976D2;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
    display: inline-block;
}
.product__offer-price{
    text-decoration: line-through;
    color: #546e7a;
}
.product__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}
.product__price{
    display: flex;
    gap: 4px;
    align-items: center;
}
.product__price-number{
    font-weight: bold;
    font-size: 18px;
}
.product__price-unit{
    font-size: 14px;
}
.product__rating{
    display: flex;
    align-items: center;
    gap: 4px;
}
.product__rating-number{
    font-size: 14px;
    color: #546e7a;
}
.product__rating-icon{
    width: 18px;
    height: 18px;
    color: #FBC02D;
}